@inherits AppComponentBase
@page "/"

<PageTitle>Home</PageTitle>

<div data-testid="home-page"
     class="flex flex-col pa-2 gap-1">
    <Navbar FilterText="@FilterText"
            OnRefreshCoverage="@(() => { })"
            OnRunCoverage="@(e => { })"
            OnFilterTextChanged="@(e => {  })"/>
    <CoverageTable @ref="@CoverageTableRef"
                   IsLoading="@IsLoading"
                   FilterText="@FilterText"/>
</div>
