@inherits AppComponentBase
@page "/"

<PageTitle>Home</PageTitle>

<div data-testid="home-page"
     class="flex flex-col pa-2 gap-1">
    <div Justify="Justify.SpaceBetween"
         class="flex flex-row justify-between items-center">
        <div class="flex flex-row gap-1 items-center">
            <InputSelect @bind-Value="SelectedTestsProject"
                         disabled="@IsLoading"
                         class="bg-neutral-800 border border-neutral-700 text-white text-sm rounded focus:ring-0 focus:border-neutral-600 block w-full p-2.5 disabled:bg-opacity-30 disabled:text-opacity-30 disabled:cursor-not-allowed">
                @foreach (var project in TestsProjects)
                {
                    <option value="@project.FilePath"
                            checked="@(project.FilePath == SelectedTestsProject)">
                        @project.Name
                    </option>
                }
            </InputSelect>
            <IconButton OnClick="@(() => RunCoverage())"
                        Disabled="@IsLoading">
                <PlayArrowIcon Class="size-6 fill-white"/>
            </IconButton>
            <IconButton OnClick="@(() => RunCoverage(false))"
                        Disabled="@IsLoading">
                <BuildIcon Class="size-6 fill-white"/>
            </IconButton>

            @if (IsLoading)
            {
                <Spinner/>
            }
        </div>

        <div class="flex flex-row justify-end gap-1 items-center">
            <div class="relative">
                <IconButton OnClick="@(() => IsSaveMenuOpen = !IsSaveMenuOpen)"
                            Disabled="@IsLoading">
                    <SaveIcon Class="size-6 fill-white"/>
                </IconButton>
                @if (IsSaveMenuOpen)
                {
                    <div class="absolute top-100 mt-1 right-0 z-10 drop-shadow-md bg-neutral-800 rounded border border-neutral-700 p-1">
                        <ul>
                            <li class="hover:bg-neutral-600 px-2 rounded cursor-pointer whitespace-nowrap"
                                @onclick="@(() => GenerateReport())">
                                Save simple report
                            </li>
                            <li class="hover:bg-neutral-600 px-2 rounded cursor-pointer whitespace-nowrap"
                                @onclick="@(() => GenerateReport(true))">
                                Save detailed report
                            </li>
                        </ul>
                    </div>
                }
            </div>
            <IconButton OnClick="@(() => Refresh())"
                        Disabled="@IsLoading">
                <RefreshIcon Class="size-6 fill-white"/>
            </IconButton>
        </div>
    </div>

    <input value="@FilterText"
           disabled="@IsLoading"
           @oninput="@(e => FilterText = e.Value?.ToString() ?? string.Empty)"
           class="bg-neutral-800 border border-neutral-700 text-white text-sm rounded focus:outline-none focus:ring-0 focus:border-neutral-600 block w-full p-2.5 disabled:bg-opacity-30 disabled:text-opacity-30 disabled:cursor-not-allowed"
           placeholder="Type something..."/>

    <CoverageTable Nodes="@FilteredNodes"/>
</div>
