@inherits AppComponentBase
@page "/"

<PageTitle>Home</PageTitle>

<MudStack data-testid="home-page"
          Spacing="1"
          Class="pa-2">
    <MudStack Justify="Justify.SpaceBetween"
              Row="true"
              AlignItems="AlignItems.Center">
        <MudStack Spacing="2"
                  Row="true"
                  AlignItems="AlignItems.Center">
            <InputSelect @bind-Value="SelectedTestsProject"
                         class="bg-neutral-800 border border-neutral-700 text-white text-sm rounded focus:ring-0 focus:border-neutral-600 block w-full p-2.5">
                @foreach (var project in TestsProjects)
                {
                    <option value="@project.FilePath"
                            checked="@(project.FilePath == SelectedTestsProject)">
                        @project.Name
                    </option>
                }
            </InputSelect>
            <MudTooltip Placement="Placement.Top"
                        Arrow="true"
                        Text="Run coverage">
                <MudIconButton Size="Size.Small"
                               data-testid="run-coverage-button"
                               OnClick="@(() => RunCoverage())"
                               Disabled="@IsLoading"
                               Color="Color.Default"
                               DropShadow="false"
                               Variant="Variant.Filled"
                               Icon="@Icons.Material.Outlined.PlayArrow"/>
            </MudTooltip>
            <MudTooltip Placement="Placement.Top"
                        Arrow="true"
                        Text="Build and run coverage">
                <MudIconButton Size="Size.Small"
                               data-testid="build-and-run-coverage-button"
                               OnClick="@(() => RunCoverage(false))"
                               Disabled="@IsLoading"
                               Color="Color.Default"
                               DropShadow="false"
                               Variant="Variant.Filled"
                               Icon="@Icons.Material.Outlined.Build"/>
            </MudTooltip>
            @if (IsLoading)
            {
                <MudProgressCircular Color="Color.Primary"
                                     data-testid="loading-progress-circular"
                                     Indeterminate="true"
                                     Size="Size.Small"/>
            }
        </MudStack>

        <MudStack Row="true"
                  AlignItems="AlignItems.Center"
                  Justify="Justify.FlexEnd">
            <MudTooltip Placement="Placement.Top"
                        Arrow="true"
                        Text="Save report">
                <MudMenu Size="Size.Small"
                         data-testid="save-report-button"
                         Disabled="@IsLoading"
                         Dense="true"
                         Color="Color.Default"
                         DropShadow="false"
                         Variant="Variant.Filled"
                         Icon="@Icons.Material.Outlined.Save">
                    <MudMenuItem OnClick="@(() => GenerateReport())">Simple report</MudMenuItem>
                    <MudMenuItem OnClick="@(() => GenerateReport(true))">Detailed report</MudMenuItem>
                </MudMenu>
            </MudTooltip>
            <MudTooltip Placement="Placement.Top"
                        Arrow="true"
                        Text="Refresh">
                <MudIconButton Size="Size.Small"
                               data-testid="refresh-button"
                               Disabled="@IsLoading"
                               OnClick="@Refresh"
                               Color="Color.Default"
                               DropShadow="false"
                               Variant="Variant.Filled"
                               Icon="@Icons.Material.Outlined.Refresh"/>
            </MudTooltip>
        </MudStack>
    </MudStack>

    <InputText @bind-Value="@FilterText"
               class="bg-neutral-800 border border-neutral-700 text-white text-sm rounded focus:outline-none focus:ring-0 focus:border-neutral-600 block w-full p-2.5"
               placeholder="Type something..."/>

    <CoverageTable Nodes="@FilteredNodes"/>
</MudStack>
