@inherits AppComponentBase
@page "/"

<PageTitle>Home</PageTitle>

<div data-testid="home-page"
     class="flex flex-col pa-2 gap-1">
    <div Justify="Justify.SpaceBetween"
         class="flex flex-row justify-between align-middle">
        <div class="flex flex-row gap-1 align-middle">
            <InputSelect @bind-Value="SelectedTestsProject"
                         class="bg-neutral-800 border border-neutral-700 text-white text-sm rounded focus:ring-0 focus:border-neutral-600 block w-full p-2.5">
                @foreach (var project in TestsProjects)
                {
                    <option value="@project.FilePath"
                            checked="@(project.FilePath == SelectedTestsProject)">
                        @project.Name
                    </option>
                }
            </InputSelect>
            <IconButton OnClick="@(() => RunCoverage())">
                <PlayArrowIcon Class="size-6 fill-white"/>
            </IconButton>
            <IconButton OnClick="@(() => RunCoverage(false))">
                <BuildIcon Class="size-6 fill-white"/>
            </IconButton>

            @if (!IsLoading)
            {
                <Spinner/>
            }
        </div>

        <div class="flex flex-row justify-end align-middle">
            <IconButton OnClick="@(() => GenerateReport())">
                <SaveIcon Class="size-6 fill-white"/>
            </IconButton>
            <IconButton OnClick="@(() => Refresh())">
                <RefreshIcon Class="size-6 fill-white"/>
            </IconButton>
        </div>
    </div>

    <input value="@FilterText"
           @oninput="@(e => FilterText = e.Value?.ToString() ?? string.Empty)"
           class="bg-neutral-800 border border-neutral-700 text-white text-sm rounded focus:outline-none focus:ring-0 focus:border-neutral-600 block w-full p-2.5"
           placeholder="Type something..."/>

    <CoverageTable Nodes="@FilteredNodes"/>
</div>
