@using CoverMe.Backend.Extensions
@inherits AppComponentBase

<tr data-testid="coverage-table-row"
    @onclick="OnExpand">
    <td style="@($"padding-left: {Level}rem; max-width: calc(100% - 80px - {Level}rem)")"
        class="pr-0 h-7 max-h-7 text-ellipsis overflow-hidden whitespace-nowrap w-auto"
        @ondblclick="@OpenFileAtLine">
        <div class="flex flex-row items-center">
            @if (CanBeExpanded)
            {
                <IconButton Class="bg-transparent border-none">
                    <ChildContent>
                        @if (!IsExpanded)
                        {
                            <ChevronRight Class="size-4 fill-white"/>
                        }
                        else
                        {
                            <ChevronRight Class="size-4 fill-white rotate-90"/>
                        }
                    </ChildContent>
                </IconButton>
            }
            else
            {
                <div class="w-[28px] h-[28px]"></div>
            }

            <img src="@($"/images/{Icon.ToString().ToLower()}.png")"
                 alt=""
                 class="h-[24px] object-contain">

            <p class="select-none text-nowrap text-ellipsis overflow-hidden"
               style="@(HasFilePath ? "cursor: pointer" : string.Empty)">
                @Symbol.Ellipsis(25)
            </p>
        </div>
    </td>
    <td class="relative px-0 h-7 max-h-7 w-[80px] min-w-[80px]">
        <div class="bg-neutral-500 overflow-hidden relative min-h-[28px] w-full min-w-[50px] rounded">
            <div class="h-full w-full min-h-[28px] rounded"
                 style="max-width: @Coverage%; background-color: @BarColor"></div>
            <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold drop-shadow-md"
               style="@($"color: {FontColor}")">
                @Coverage%
            </p>
        </div>
    </td>
    @if (Settings.Interface.ShowStatementsColumn)
    {
        <td class="pl-1 pr-0 h-7 max-h-7">
            <p>@CoveredStatements / @TotalStatements</p>
        </td>
    }
</tr>