@inherits AppComponentBase

<tr data-testid="coverage-table-row">
    <td style="@($"padding-left: {Level}rem !important; padding-right: 0 !important")"
        @ondblclick="@OpenFileAtLine">
        <div class="flex flex-row align-middle">
            @if (CanBeExpanded)
            {
                <IconButton OnClick="@OnExpand"
                            Class="bg-transparent border-none">
                    <ChildContent>
                        @if (!IsExpanded)
                        {
                            <ChevronRight Class="size-4 fill-white"/>
                        }
                        else
                        {
                            <ChevronRight Class="size-4 fill-white rotate-90"/>
                        }
                    </ChildContent>
                </IconButton>
            }

            <img src="@($"/images/{Icon.ToString().ToLower()}.png")"
                 alt=""
                 class="h-[24px] object-contain">

            <p class="select-none text-nowrap"
               style="@(HasFilePath ? "cursor: pointer" : string.Empty)">@Symbol</p>
        </div>
    </td>
    <td class="relative"
        styl="padding-left: 0 !important; padding-right: 0 !important">
        <div class="bg-neutral-500 overflow-hidden relative min-h-[24px] w-full min-w-[50px] rounded">
            <div class="h-full w-full min-h-[24px] rounded"
                 style="max-width: @Coverage%; background-color: @BarColor"></div>
            <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold drop-shadow-md"
               style="@($"color: {FontColor}")">
                @Coverage%
            </p>
        </div>
    </td>
    @if (Settings.Interface.ShowStatementsColumn)
    {
        <td style="padding-left: 4px !important; padding-right: 0 !important">
            <p>@CoveredStatements / @TotalStatements</p>
        </td>
    }
</tr>