@inherits AppComponentBase

<table data-testid="coverage-table"
       id="@_tableId"
       Class="coverage-table !bg-transparent border-collapse overflow-hidden table-fixed">
    <thead>
    <tr>
        <th Class="text-start w-auto overflow-hidden text-ellipsis whitespace-nowrap">Symbol</th>
        <th Class="text-start w-1 min-w-[80px]">Coverage</th>

        @if (Settings.Interface.ShowStatementsColumn)
        {
            <th Class="whitespace-nowrap text-start">
                Covered / total statements
            </th>
        }
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Nodes.Count; i++)
    {
        var i1 = i;
        if (!IsVisible(i1)) continue;

        var node = Nodes[i1];

        <CoverageTableRow Level="@node.Level"
                          Symbol="@node.Symbol"
                          Coverage="@node.Coverage"
                          CoveredStatements="@node.CoveredStatements"
                          TotalStatements="@node.TotalStatements"
                          Icon="@node.Icon"
                          FilePath="@node.FilePath"
                          Line="@node.LineNumber"
                          CanBeExpanded="@CanBeExpanded(i1)"
                          IsExpanded="@node.IsExpanded"
                          OnExpand="@(() => ToggleExpand(i1))"/>
    }
    </tbody>
</table>